body {
  margin: 25px;
  font-family: sans-serif;
}

textarea {
  display: block;
  width: 70%;
  height: 15rem;
  font-size: 1rem;
  line-height: 1.3rem;
}

input, button {
  font-size: 1rem;
  line-height: 1.3rem;
  vertical-align: middle;
}

highlight {
  font-weight: bold;
  background: yellow;
  border: 1px solid goldenrod;
}

diff {
  background: pink;
}
