body {
  margin: 25px;
  font-family: sans-serif;
}

textarea.form-control {
  display: block;
  height: 15rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

input, button {
  font-size: 1rem;
  line-height: 1.3rem;
  vertical-align: middle;
}

input.form-control {
  display: inline;
  width: auto;
}

highlight {
  font-weight: bold;
  background: yellow;
  border: 1px solid goldenrod;
}

diff {
  background: pink;
}

input, textarea, #readout {
  font-family: sans-serif;
}

#readout {
  max-height: 30rem;
  overflow: scroll;
}
